@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: josefin, sans-serif;
    font-weight: 400;
    color: darkgoldenrod;
}

/* headings and logo */

h1, h2 {
    font-family: josefin, sans-serif;
    text-transform: ;
    letter-spacing: 2px;
    color: rgba(126, 91, 3, 0.685);
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 35px;
}

/* navigation links */

#menu {
    font-size: 100%;
    letter-spacing: 5px;
}

#menu, #logo {
    line-height: 80px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 40px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid darkgoldenrod;
}

.active {
    border-bottom: 1px solid darkgoldenrod;
} 

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/pexels-jess-loiterton-400.jpg') center center;
    background-repeat: no-repeat;
}

/* About section */

.about-section {
    
}

#about-list {
    list-style-type: circle;
}